.dialogs__dialog {
    padding: 10px;
    border-radius: 10px;
}

.dialogs__dialog .active {
    color: steelblue;
}

.dialogs__dialog:hover {
    background-color: whitesmoke;
    transition: 0.3s;
}

.dialogItem {
    color: #222831;
    transition: 0.2s;
}
