.posts__area {

    padding: 15px;
}

.posts__area__input {
}

.posts__area__textarea {

    margin-bottom: 15px;
    margin-top: 15px;
    outline: none;
    width: 100%;
    min-height: 50px;
    max-height: 500px;
    overflow: hidden;
    resize: vertical;
}

.posts__area__input textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.item {
    background-color: gold;
}

