.scrollbar__message__header {
    display: flex;
    position: sticky;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid gray;
    top: 0;
}

.chat__body {
    padding: 15px;
}

.chat {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;

}

.scrollbar__container {
    position: relative;
}

.messages__message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
}

.header__message__avatar {
    display: flex;
    align-items: center;

}

.header__message__avatar img {
    margin-right: 1rem;
    height: 50px;
}

.message__avatar {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: flex-end;
}


.message__avatar img {
    margin-right: 1rem;
    height: 50px;

}

.message__incoming__item {

}

.message__outgoing__item {
    margin-left: auto;
}

.messages__area__input {
    align-items: center;
    display: flex;
    position: sticky;
    bottom: 0;
    background-color: white;
}

/*.messages__area__input textarea {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    padding: 5px;
    margin: 20px;
    width: 100%;
    resize: none;
    border-radius: 10px;
}*/
